/*=== Variables ===*/
/*=== Colors ===*/
/*=== Font ===*/
/*=== Margins ===*/
/*=== z Index ===*/
.footer {
  background-color: #0E2431;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: .6rem 0rem;
}

.footer_title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.footer_social {
  margin-bottom: 2rem;
}

.footer_icon {
  font-size: 2rem;
  color: #fff;
  margin: 0 1rem;
}
