@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*=== Variables ===*/
/*=== Colors ===*/
/*=== Font ===*/
/*=== Margins ===*/
/*=== z Index ===*/
/*=== Variables ===*/
/*=== Colors ===*/
/*=== Font ===*/
/*=== Margins ===*/
/*=== z Index ===*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 4rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #0E2431;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.footer {
  background-color: #0E2431;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 2rem 0;
}

.footer_title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.footer_social {
  margin-bottom: 2rem;
}

.footer_icon {
  font-size: 2rem;
  color: #fff;
  margin: 0 1rem;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section-title {
  position: relative;
  font-size: 2rem;
  color: #004D99;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 65px;
  height: 0.19rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: #004D99;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
          box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.nav {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    top: 4rem;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: #0E2431;
    -webkit-transition: .5s;
    transition: .5s;
    text-align: center;
  }
}

.nav_item {
  margin-bottom: 2rem;
}

.nav_active {
  position: absolute;
  z-index: -2;
  background-color: #004D99;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav_link {
  position: relative;
  color: #fff;
}

.nav_logo {
  font-size: 1.5rem;
  color: #004D99;
}

.nav_toggle {
  color: #0E2431;
  font-size: 1.5rem;
  cursor: pointer;
}

.show {
  right: 0;
}

.home {
  height: calc(100vh - 3rem);
  row-gap: 2rem;
  margin-top: 1.5rem;
}

.home_data {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home_title {
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
}

.home_title-color {
  color: #004D99;
}

.home_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
}

.home_social-icon {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #0E2431;
}

.home_social-icon:hover {
  color: #004D99;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
}

.home-item {
  margin: 10px;
}

.home-item-1 {
  width: 50%;
}

.home-item-2 {
  width: 40%;
}

.home_img {
  width: 80%;
  height: 65%;
}

.home_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 1.5rem 0;
  background-color: rgba(0, 77, 153, 0.6);
}

.nav_button, .home_button, .submit_button {
  display: inline-block;
  color: #fff;
  background-color: #004D99;
  padding: .75rem 2.5rem;
  font-weight: 600;
  border-radius: .5rem;
}

.home_button:hover, .submit_button:hover {
  -webkit-box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.about {
  row-gap: 2rem;
  text-align: center;
  background-color: #f2f2f2;
}

.about_subtitle {
  margin-bottom: 1rem;
}

.about_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

.about_img img {
  width: 200px;
  border-radius: .5rem;
  margin-bottom: 1.5rem;
  background-color: #D3D3D3;
}

.skills {
  row-gap: 2rem;
  text-align: center;
}

.skills_subtitle {
  margin-bottom: 1rem;
}

.skills_text {
  margin-bottom: 2rem;
}

.skills_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-weight: 600;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
          box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.skills_icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: #004D99;
}

.skills_names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills_bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #004D99;
  height: .25rem;
  border-radius: .5rem;
  z-index: -10;
}

.skills_html {
  width: 95%;
}

.skills_css {
  width: 85%;
}

.skills_javascript {
  width: 75%;
}

.skills_react {
  width: 85%;
}

.skills_img {
  border-radius: .5rem;
}

.portfolio {
  text-align: center;
  background-color: #f2f2f2;
}

.portfolio_container {
  row-gap: 2rem;
}

.portfolio_img {
  -webkit-box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
          box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
  background-color: transparent;
}

.portfolio_img img {
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.portfolio_img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact {
  row-gap: 2rem;
}

.contact_info {
  width: 90%;
  margin-bottom: auto;
}

.contact_subtitle {
  font-size: 1rem;
  color: #004D99;
  margin-bottom: .4rem;
  font-size: 18px;
}

.contact_text {
  display: inline-block;
  margin-bottom: 1rem;
}

.contact_input {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  border-radius: .5rem;
  border: 1.5px solid #0E2431;
  outline: none;
  resize: none;
  margin-bottom: 1.5rem;
}

.contact_button {
  display: block;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: 3rem;
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc($header-height + 1rem);
  }
  .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
  }
  .nav_item {
    margin-left: 3rem;
    margin-bottom: 0;
  }
  .nav_toggle {
    display: none;
  }
  .nav_link {
    color: #0E2431;
  }
  .home {
    height: auto;
  }
  .home_data {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .home_social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .home_social-icon {
    margin-bottom: 0;
    margin-right: 2rem;
  }
  .about_container, .skills_container, .contact_container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: initial;
    justify-items: center;
  }
  .about_img img {
    width: 300px;
  }
  .portfolio_container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    justify-items: center;
  }
  .contact_form {
    width: 400px;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 0.938rem;
  }
  .section-title {
    font-size: 1.25rem;
  }
  .nav_link:hover {
    position: relative;
  }
  .nav_link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.19rem;
    left: 0;
    top: 2rem;
    background-color: #004D99;
  }
  .home {
    height: 100%;
  }
  .home_title {
    font-size: 2rem;
  }
  .home-item-1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-item-2 {
    display: none;
    width: 0;
  }
  .home_social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .home_social-icon {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }
  .contact_info {
    width: 100%;
  }
  .contact_subtitle, .contact_contact_input, .contact_button {
    font-size: 0.938rem;
  }
}

@media screen and (min-width: 1000px) {
  .about, .skills, .portfolio, .contact {
    min-height: calc(80vh - 3rem);
  }
}
